.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #122c4f;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

.nav-links a {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #fbf9e4;
}

.nav-links li:hover {
    border-width: 2px;
    border-radius: 4px;
    border-color: #fbf9e4;
}

.active {
    background-color: #fbf9e4;
    color: #122c4f;
}