:root {
    --cor-pri: #e6e5d5;
    --cor-sec: #c5ba93;
    --cor-ter: #9d8361;
    --acc-01: #994d47;
    --acc-02: #66281f;
}

header {
    justify-content: center;
    background-color: var(--acc-01);
    margin: 0;
    padding: 0.5rem 2rem 0.5rem 2rem;
}


.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
    color: var(--cor-pri);
}

.nav-links li a {
    font-family: "Fuzzy Bubbles", monospace;
    font-weight: 700;
    font-style: normal;
    padding: 5px;
    text-decoration: none;
    color: var(--cor-pri);
}

.nav-links li a:hover {
    background-color: var(--cor-sec);
    color: var(--acc-01);
    border-radius: 0.5rem;
    text-decoration: underline;
    text-decoration-color: var(--acc-01);
}

.nav-links li a.active {
    background-color: var(--cor-pri);
    color: var(--acc-01);
    border-radius: 0.5rem;
    text-decoration: underline;
    text-decoration-color: var(--acc-01);
}