:root {
    --cor-primaria: #FFF0DE;
    --cor-secundaria: #96C1C5;
    --cor-letras: #694A47;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--cor-letras);
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

.nav-links a {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.nav-links li:hover {
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--cor-secundaria);
}

.active {
    background-color: var(--cor-primaria);
    color: var(--cor-letras);
}

li a.active {
    text-decoration: underline;
    text-decoration-color: var(--cor-secundaria);
    background-color: var(--cor-letras);
}

li a:hover {
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--cor-secundaria);
    color: var(--cor-letras);
}