:root {
    --cor-pri: #e6ebef;
    --cor-extra: #b4cfe6;
    --cor-sec: #7fa7c7;
    --cor-ter: #3f5f78;
    --acc-01: #8b7a6b;
    --acc-02: #3a2817;
    --acc-03: #d9d0b9;
    --fs-title: clamp(1.8rem, 4vw, 2rem);
    --fs-text: clamp(1rem, 1.5vw, 1.2rem);
    --size-img: clamp(11rem, 22vw, 17rem);
    --size-img02: clamp(28rem, 37.25vw, 43rem);
}

body {
    background-color: var(--cor-pri);
    font-family:"Rubik Mono One", monospace;
    margin: 0;
}

.project-dir {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 5vw;
    padding-top: 2vw;
}

.project-esq {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 5vw;
    padding-top: 2vw;
}

.project-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 4vw;
    padding-top: 2vw;
}

img {
    max-width: var(--size-img);
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    background-color: var(--cor-extra);
}

img:hover {
    transform: scale(1.2);
    transition: transform 1s ease;
}

.desc-item {
    grid-column: span 2;
    margin: 0;
    padding: 1vw;
    border-radius: 2w;
    width: fit-content;
}

.site-link:hover {
    color: var(--acc-02);
}