:root {
    --cor-pri: #e6e3d5;
    --cor-sec: #d1cbb5;
    --cor-ter: #9d8361;
    --acc-01: #994d47;
    --acc-02: #66281f;

    --fs-h1: clamp(2rem, 2.5vw, 3rem);
    --fs-h4: clamp(1rem, 1.5vw, 2rem);
    --fs-p: clamp(0.875rem, 1.5vw, 1.25rem);
}

.port-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-bottom: 0.1vw solid var(--cor-sec);
}

.port-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-bottom: 0.1vw solid var(--cor-sec);
}

.port-p {
    width: 40vw;
    text-align: justify;
    hyphens: auto;
    color: var(--acc-01);
    font-size: 1.5vw;
    font-style: normal;
}

.port-img {
    width: 20vw;
    height: auto;
}

.port-img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}