:root {
    --cor-pri: #e6ebef;
    --cor-extra: #b4cfe6;
    --cor-sec: #7fa7c7;
    --cor-ter: #3f5f78;
    --acc-01: #8b7a6b;
    --acc-02: #3a2817;
    --acc-03: #d9d0b9;
    --fs-title: clamp(1.8rem, 4vw, 1.6rem);
    --fs-text: clamp(1rem, 1.5vw, 1.2rem);
    --size-img: clamp(10rem, 19vw, 15rem);
    --size-img02: clamp(28rem, 37.25vw, 43rem);
}

body {
    background-color: var(--cor-pri);
    font-family:"Rubik Mono One", monospace;
    margin: 0;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-self: stretch;
}

.project-title h4 {
    font-size: clamp(1rem, 1vw, 1.5rem);
}