.introducao {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    gap: 2rem;
}

.introduction {
    justify-content: center;
    align-content: center;
    align-items: space-around;
    text-align: justify;
    margin: var(--fs-text) 0;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 2rem;
    margin: 0 auto;
    padding: var(--fs-text);
    background-color: var(--acc-03);
    border-radius: 2vw;
    width: fit-content;
}

.karolo-photo {
    width: var(--size-img);
    aspect-ratio: 1/1;
    border-radius: 1.5vw;
}



.set-marrom{ background-color: var(--acc-03); }
.set-azul { background-color: var(--cor-extra); }

.skill-type {
    font-family: monospace;
    font-weight: bold;
    color: var(--cor-ter);
    font-size: var(--fs-mini);
    font-weight: 600;
    padding: 0.5vw 0;
    text-align: justify;
    hyphens: auto;
    margin-bottom: 2vw;
}

.skills-01 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 1vw;
    margin-top: 3.5vw;
}

.skill-set {
    text-align: center;
    align-content: space-between;
    padding: 2vw;
    border-radius: 0.5vw;
    hyphens: auto;
}

.skill-list {
    margin-top: 0.5vw;
    text-align: left;
}

.skill-list-flex {
    display: grid;
    grid-template-columns: repeat (auto-fit, minmax(var(--size-img), 1fr));
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.skill-item p {
    font-size: var(--fs-mini);
}

.skill-item-s {
    display: flex;
    align-items: center;
    height: auto;
}
.skill-item-s p {
    font-size: var(--fs-mini);
}

.progress-bar {
    align-content: center;
    width: clamp(4rem, 5vw + 0.1rem, 6rem);
    height: var(--size-bar);
    border-radius: 0.25rem;
    background-color: var(--cor-sec);
    overflow: hidden;
}
@keyframes growBar {
    from {
        width: 0;
    }
}

.skill-set:hover .progress {
    animation-delay: 1s;
    animation: growBar 2s ease-in-out forwards;
}

.progress {
    height: 100%;
    background-color: var(--cor-ter); 
    animation: growBar 1.5s ease-out forwards;
}
.java { width: 90%; }
.api { width: 25%; }
.spring { width: 25%; }
.python { width: 50%; }
.csharp { width: 75%; }
.html { width: 90%; }
.css { width: 90%; }
.js { width: 25%; }
.next { width: 25%; }
.portuguese { width: 100%; }
.english { width: 100%; }
.japanese { width: 75%; }

.skill-list-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 1vw 0 0;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    margin-top: 3.5vw;
}

.soft-skills {
    grid-column: span 2;
}

.education-grid02 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-content: center;
    gap: 1vw;
    margin-top: 3.5vw;
}

.long-course01 {
    grid-column: span 1;
    text-align: center;
    align-content: space-between;
    padding: 2vw;
    border-radius: 0.5vw;
    hyphens: auto;
}

.long-course02 {
    grid-column: span 2;
    text-align: center;
    align-content: space-between;
    padding: 2vw;
    border-radius: 0.5vw;
    hyphens: auto;
}

.education-grid03 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-content: center;
    gap: 1vw;
    margin-top: 1vw;
}

.short-course02 {
    grid-column: span 2;
    text-align: center;
    align-content: space-between;
    padding: 2vw;
    border-radius: 0.5vw;
    hyphens: auto;
}

.short-course01 {
    grid-column: span 1;
    text-align: center;
    align-content: space-between;
    padding: 2vw;
    border-radius: 0.5vw;
    hyphens: auto;
}