body {
    margin: 0;
    background-color: #fbf9e4;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.foto-karolo {
    display: flex;
    background-color: pink;
    color: black;
    width: 500px;
    height: 500px;
}

.perfil-lista {
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.container {
    display: flex;
    gap: 200px;
    box-align: center;
    height: 500px;
    width: 1000px;
    align-items: center;
}