:root {
    --cor-pri: #e6e5d5;
    --cor-sec: #c5ba93;
    --cor-ter: #9d8361;
    --acc-01: #994d47;
    --acc-02: #66281f;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: bold;
}

body {
    background-color: var(--cor-pri);
    font-family:"Fuzzy Bubbles", monospace;
    margin: 0;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 20vw;
    justify-content: center;
    border-bottom: 1px solid var(--cor-sec);
}

.content h1 {
    font-family: "Fuzzy Bubbles", monospace;
    font-weight: 700;
    font-style: bold;
    font-size: 2.5rem;
    color: var(--acc-02);
    margin: 0.5rem;
}

.content h4 {
    font-family: "Fuzzy Bubbles", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--cor-ter);
    margin: 0.5rem;
    margin-bottom: 1.5rem;
}

.content p {
    font-weight: bold;
    color: var(--acc-01);
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0.5rem;
}
