:root {
    --cor-pri: #e6ebef;
    --cor-extra: #b4cfe6;
    --cor-sec: #7fa7c7;
    --cor-ter: #3f5f78;
    --acc-01: #8b7a6b;
    --acc-02: #3a2817;
    --acc-03: #d9d0b9;
    --fs-title: clamp(2rem, 5vw, 4rem);
    --fs-text: clamp(1.5rem, 3vw, 2rem);
    --size-img: clamp(10rem, 19vw, 15rem);
    --size-img02: clamp(28rem, 37.25vw, 43rem);
}

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 100;
    font-style: normal;
}

body {
    background-color: var(--cor-pri);
    font-family:"Fuzzy Bubbles", monospace;
    margin: 0;
    height: 300px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
}

/* Chrome, Safari e Opera */
.elemento::-webkit-scrollbar {
    display: none;
}

/* IE, Edge e Firefox */
.elemento {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll; /* Mantém a funcionalidade */
}


.content {
    max-width: 66vw;
    min-width: 600px;
    margin: 0 auto;
    padding: 4vw 0;
    border-bottom: 0.1vw solid var(--acc-01);
}

.content h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 700;
    font-style: bold;
    font-size: var(--fs-title);
    color: var(--acc-02);
    margin: 0;
    line-height: 1.2;
}

.content h4 {
    font-family: "Fuzzy Bubbles", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-text);
    color: var(--acc-01);
    margin: 0;
    margin-bottom: 1.5rem;
    margin-top: 0.25rem;
    line-height: 1.2;
}

.content p {
    font-family: monospace;
    font-weight: normal;
    color: var(--cor-ter);
    font-size: var(--fs-text);
    font-weight: 100;
    margin: 0;
    text-align: justify;
    hyphens: auto;
    line-height: 1.2;
}

.content a {
    color: inherit;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

