:root {
    --cor-pri: #e6e3d5;
    --cor-sec: #d1cbb5;
    --cor-ter: #9d8361;
    --acc-01: #994d47;
    --acc-02: #66281f;

    --fs-h1: clamp(2rem, 2.5vw, 3rem);
    --fs-h4: clamp(1rem, 1.5vw, 2rem);
    --fs-p: clamp(0.875rem, 1.5vw, 1.25rem);
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: bold;
}

body {
    background-color: var(--cor-pri);
    font-family:"Fuzzy Bubbles", monospace;
    margin: 0;
    hyphens: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.content {
    max-width: 70vw;
    margin: 3vw 15vw;
    padding: 0;
    padding-bottom: 3vw;
    justify-content: center;
    border-bottom: 2px solid var(--cor-sec);
}

.content h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 700;
    font-style: bold;
    font-size: 2.5vw;
    color: var(--acc-02);
    margin-top: 2vw;
}

.content h4 {
    font-family: "Fuzzy Bubbles", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    color: var(--cor-ter);
    margin-bottom: 1vw;
}

.content p {
    font-weight: 400;
    color: var(--acc-01);
    font-size: 1.5vw;
    font-style: normal;
    text-align: justify;
    hyphens: auto;
}

strong {
    font-weight: 700;
    font-style: bold;
}
