:root {
    --cor-primaria: #FFF0DE;
    --cor-secundaria: #96C1C5;
    --cor-letras: #694A47;
}

body {
    margin: 0;
    background-color: var(--cor-primaria);
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.foto-karolo {
    display: flex;
    background-color: var(--cor-secundaria);
    color: var(--cor-letras);
    width: 300px;
    height: 300px;
}

.perfil-lista {
    padding-left: 50px;
    text-align: left;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    color: var(--cor-letras);
}

.container {
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    color: var(--cor-letras);
    margin: 100px 100px 50px 100px;
}

.content h4 {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 20px;
    color: var(--cor-secundaria);
    margin-left: 150px;
}

.content p {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: var(--cor-letras);
}

.content {
    margin: 30px;
}

.guide ul {
    padding: 6px 6px 4px 6px;
    background-color: var(--cor-secundaria);
    color: var(--cor-letras);
    margin: 20px 30px 10px 10px;
    border-radius: 10px;
}