:root {
    --cor-primaria: #FFF0DE;
    --cor-secundaria: #96C1C5;
    --cor-letras: #694A47;
}

body {
    margin: 0;
    background-color: var(--cor-primaria);
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.foto-karolo {
    display: flex;
    background-color: var(--cor-secundaria);
    color: var(--cor-letras);
    width: 500px;
    height: 500px;
}

.perfil-lista {
    text-align: left;
    width: 500px;
    height: 500px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}