body {
    margin: 0;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.navbar {
    box-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.foto-karolo {
    display: flex;
    background-color: pink;
    color: black;
    width: 500px;
    height: 500px;
}

.perfil-lista {
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.container {
    display: flex;
    gap: 200px;
    box-align: center;
    height: 500px;
    width: 1000px;
    align-items: center;
}