.navbar {
    box-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 70%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: underline;
    color: black;
}