.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
    box-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 70%;
    font-family: 
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.foto-karolo {
    width: 200px;
    height: 200px;
}